body{
margin:0;
font-family:Arial;
background:#f0f2f5;
}

.sidebar{
width:230px;
height:100vh;
background:#1d2327;
color:white;
position:fixed;
padding:20px;
}

.sidebar h2{
color:#72aee6;
}

.sidebar button{
width:100%;
padding:10px;
margin-top:10px;
border:none;
background:#2271b1;
color:white;
cursor:pointer;
}

.sidebar button:hover{
background:#135e96;
}

.main{
margin-left:250px;
padding:30px;
}

.card{
background:white;
padding:20px;
border-radius:8px;
margin-bottom:20px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.login{
width:300px;
margin:150px auto;
background:white;
padding:30px;
border-radius:10px;
text-align:center;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.login input{
width:100%;
padding:10px;
margin-top:10px;
}

.login button{
margin-top:15px;
padding:10px;
width:100%;
background:#2271b1;
border:none;
color:white;
}
